/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE STYLES */
html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #211f1f;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HERO SECTION */
.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 46px;
}

.hero-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Важное! Ставим текст сверху вниз */
  align-items: flex-start; /* Выравниваем по левому краю */
}

.hero-content h1 {
  font-size: 6rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
  line-height: 110%;
  text-align: left;
  max-width: 1000px;
  letter-spacing: -0.5px;
}

.hero-content p {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 700px;
}

.button {
  display: inline-block;
  margin-top: 1.6rem;
  padding: 1rem 4rem;
  background-color: #2B1F3C;
  color: #FEFDF9;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.25rem;
}


/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.nav-logo img {
  height: 60px; /* size logo */
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #211f1f;
  font-weight: 400;
  font-size: 1.1rem;
}

/* CARDS PAGE*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem;
}

.card {
  background-color: #FEFDF9;
  border: 1px solid #edecea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1.5rem;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.card-content .button {
  background-color: #211f1f;
  color: #FEFDF9;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}
